<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  <p>already a user? <a href="/login">go back to login</a></p>
  <form method="POST" action="/register">
    <label> Email: </label>
    <input name="email" required>
    <label> Password: </label>
    <input name="password"/>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</body>
</html>